<table>
  <tr>
    <th colspan="3">Date</th>
    <th>Event</th>
    <th>Title</th>
    <th>Links</th>
  </tr>
  {%- for item in include.content %}
  {%- capture anchor -%}
    {{ item.date | date: "%Y-%m-%d-" | append: item.title | slugify: "pretty" }}
  {%- endcapture -%}
  <tr>
    <td>{{ item.date | date: '%-d' }}</td><td>{{ item.date | date: '%b' }}</td><td>{{ item.date | date: '%Y' }}</td>
    {% if item.eventlink -%}
    <td><a href="{{ item.eventlink }}">{{ item.event }}</a></td>
    {%- else -%}
    <td>{{ item.event }}</td>
    {%- endif %}
    <td><a class="anchor" id="{{ anchor }}" href="#{{ anchor }}">{{ item.title }}</a></td>
    <td>
      {%- for link in item.links %}
      <a href="{{ link.href }}">{{ link.link }}</a>
      {%- endfor %}
    </td>
  </tr>
  {%- endfor %}
</table>
